---
import HeaderPrimary from "../components/HeaderPrimary.astro";
import Launches from '../components/Launches.astro';
import Layout from '../layouts/LayoutHome.astro';
---

<Layout title="SpaceX Lanzamientos.">
	<main class=" bg-black flex flex-col items-center">
		<HeaderPrimary />
		
	</main>
</Layout>

