---
import HeaderLink from "./ui/HeaderLink.astro";


---

<header
  class="py-8 max-w-lg mx-auto flex flex-col items-center justify-center min-h-screen  sm:scale-125 select-none"
  transition:name="Principal"
>
  <div class=" text-center w-full px-3" transition:name="titulo">
    <h1 class="text-5xl sm:text-6xl text-white font-bold max-w-full ">
      SpaceX Lanzamientos 🚀
    </h1>
    <p class="text-xl text-white/60 p-2">
      Informacion de los ultimos 10 lanzamiento de SpaceX
    </p>


    <nav
    transition:name="nav"
    class="text-white text-lg flex flex-col justify-center  items-center md:flex-row"
  >
    <HeaderLink ref="/launches">
      <svg
        slot="before"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3"
        ></path>
        <path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3"></path>
        <path d="M15 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
      </svg>
       Ultimos Lanzamientos
    </HeaderLink>
  </nav>

  </div>
  

</header>
