---
const res = await fetch("https://api.spacexdata.com/v5/launches/query", {
  method: "POST",
  headers: {
    "Content-Type": "aplication/json",
  },
  body: JSON.stringify({
    query: {},
    options: {
      sort: {
        date_unix: "asc",
      },
      limit: 10,
    },
  }),
});

const data = await res.json();
console.log(JSON.stringify(data) );

---

<section class="mx-auto max-w-xl">
  <div class="">
  </div>

</section>

